.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.App .title {
  margin-bottom: 3rem;
}

.App Form .form-button {
  margin-top: 1rem;
}

.App .result .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.App .result button {
  margin-top: 2rem;
}